*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Dosis", sans-serif;

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}

body{
    background-color: #00000052;
}
/* *{
    color: white !important;
} */